<nav class="header">
  <ul class="menu">
    <li>
      <a mat-button 
         routerLink="/inicio" 
         routerLinkActive="active" 
         [routerLinkActiveOptions]="{ exact: true }">Início</a>
    </li>
    <li>
      <a mat-button 
         routerLink="/produtos" 
         routerLinkActive="active" 
         [routerLinkActiveOptions]="{ exact: true }">Produtos</a>
    </li>
    <li>
      <a mat-button 
         routerLink="/vendas" 
         routerLinkActive="active" 
         [routerLinkActiveOptions]="{ exact: true }">Vendas</a>
    </li>
  </ul>
</nav>