:host{
    display: flex;
    flex-direction: column;
    min-height: 400px;
    padding: 8px;
    gap: 8px;
}

mat-form-field{
    display: flex;
    padding: 8px;
}

.preco-total{
    display: inline-flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding: 8px;
}