<section>
 
  <mat-card class="descricao-produto" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="nome-produto"> {{ produto?.nome }} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="left-content">
        <img mat-card-image src="./../../../assets/img/laptop.jpg" alt="Photo of laptop" class="responsive-img">
      </div>
      <div class="right-content">
        <p class="preco">R${{ produto?.preco }}</p>
        <p><strong>Quantidade de defeitos</strong> {{ produto?.quantidadeDefeitos }}</p>
        <p><strong>Quantidade total</strong>  {{ produto?.quantidadeDisponivelVenda }}</p>
        <button mat-fab extended color="primary" (click)="openDialog()">
          <mat-icon>add_circle</mat-icon>
          Cadastrar Nova Venda
        </button>
      </div>
    
    </mat-card-content>
    <mat-card-footer>
      <button mat-fab extended color="primary"  (click)="voltar()">
        <mat-icon>arrow_back_ios</mat-icon>
        Voltar
      </button>
    </mat-card-footer>
  </mat-card>
</section>