:host{
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 16px;
}
.area-filtros{
    height: 80px;

    .form-full-width{
        display: flex;
        flex-direction: row;
        gap: 8px;

        mat-form-field{
            display: inline-flex;
            width: 100%;
        }
    }
}

.area-table{
    min-width: 800px;
}

